body{
background-image: url("./images/black-rain-abstract-dark-power_1127-2380.avif");
    background-size: cover;
    overflow-x: hidden;
 
}
.heading{
    text-align: center;
    margin-top: 30px;
    font-family: 'Chango', cursive;
    color: white;
}
#w1{
    width: 400px;
    /* border: 2px solid black; */
    height: 550px;
    margin-left: 53px;
}

.img2{
    width: 130px;
    height: 110px;
    margin-left: 130px;
    margin-top: 10px;
}
.inp input{
    width: 280px;
    height: 0px;
    margin-top: 20px;
    border-radius: 42px;
    padding: 23px;
    box-shadow: 5px 5px 5px 0px #161639db;
    border: 1px solid white;
    border: none;
    outline: none;
}
.inp button{
    width: 86px;
    height: 45px;
    border-radius: 24px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 0px #161639db;
    border: 1px solid white;
    
}
.img2{
width: 50px;
height: 50px;
}
@media(max-width:412px){
    body{
        /* background-size: cover ; */
        overflow: hidden;
        background-size: 1150%;
        background-position: 0%;
        background-image: url(./images/bg.gif);
    }
    .heading h1{
        font-size: 40px;
    }
  .inp button{
    size: 10px;
    margin-left: 80px;
    margin-top: 10px;
  }
   .text-center{
    margin-left: 190%;
  }
    .col-4{
        margin-left: 2px;
        margin-top: 7%;
    }
    small{
        display: none;
    }
    .text-light{
        margin-top: -25px;
        margin-left: 10%;
    }
}

@media(max-width:560px){
    body{
        background-size: 270%;
        background-position: 0%;
        overflow: hidden;
    }
    .heading h1{
       margin-left: 10px;
    }
    .text-center{
        margin-left: -15%;
    }
    button{
        margin-left: 10%;
    }
}